<h1>User Detail</h1>

<p>User Name : <%= @user.username %></p>
<p>Description : <%= @user.description %></p>
<p><%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Delete", user_path(@user) %></p>
